{% extends 'core/student_base.html' %}
{% block content %}
<h2>Upload Assignment</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label>Select Course</label>
        <select class="form-control" name="course" required>
            {% for course in courses %}
            <option value="{{ course.id }}">{{ course.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label>Upload File</label>
        <input type="file" name="file" class="form-control" required>
    </div>
    <button class="btn btn-primary">Upload</button>
</form>
{% endblock %}
